{% extends "template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Library
{% endblock %}

{% block head %}
    

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='searchbar.css') }}">
		<link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
	<ul class="col-12">
		<li style="width: 25%;">
			<a style="text-decoration:none;" href="{{url_for('logout')}}">
				<div class="rskew">Logout</div>
			</a>
		</li>
		<li style="width: 25%;">
			<a style="text-decoration:none;" href="{{url_for('profile')}}">
				<div class="rskew">{{username}}</div>
			</a>
		</li>
		<li style="width: 25%;">
			<a class="active" style="text-decoration:none;" href="#">
				<div class="rskew">Books</div>
			</a>
		</li>
		<li style="width: 25%;">
			<a style="text-decoration:none;" href="{{url_for('home')}}">
				<div class="rskew">Home</div>
			</a>
		</li>
    </ul>
    
	<div class="col-12">
        <div class="fifth">Library</div><br>    
	</div>
	<form method="POST" id="form">
        {{form.hidden_tag()}}	
		<div class="container" >
			<input class="form-control" id="searchbar" name="searchbar" type="text" placeholder="ISBN, Title, Author...">
				<div class="search"></div>
		</div>
	</form>

{% endblock %}